



.card{
    margin-top:50px;
}
.info p{
padding:20px;
margin:0;
}

.info button{
    background-color:#4CB050;
    border:none;
    border-radius:30px;
    font-size:15px;
    color:white;
    padding:10px 30px;
}

.info p:nth-child(even){
    background-color:rgb(245, 245, 245);
}